


body
    {
         background-color: #4E6C50; 
    }
hr { 
    border-style: dotted;
    border-top-color: #820000; 
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-width: 15px;
    width: 15%;
    }


 h1 {
    color: #F2DEBA;
    }h2{
        color: #F2DEBA;
        } h3{
            color: #F2DEBA;
            } h4 {
                color: #F2DEBA;
                }h5 {
                    color: #F2DEBA;
                    }h6{
                        color: #F2DEBA;
                        }
    
 
